spring.application.name=gmsservice
spring.profiles.default=dev

server.port=8080
spring.jpa.open-in-view=true
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.transaction.jta.platform=org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform
spring.jpa.properties.hibernate.jdbc.time_zone=Asia/Kolkata

management.endpoints.web.exposure.include=health,info,metrics,prometheus
security.jwt.secret=CHANGE_ME
spring.recaptcha-secret-key=CHANGE_ME
app.security.public-endpoints=/public/**,/users/check,/users/forgot/**,/users/set-password,/users/,/v2/api-docs,/configuration/ui,/swagger-resources/**,/configuration/**,/swagger-ui.html,/webjars/**
app.security.authenticated-endpoints=/api/protected/**,/user/**,/grants/**
app.security.admin-endpoints=/admin/**,/api/admin/**

spring.timezone=Asia/Kolkata
spring.supported-file-types=pdf,xls,xlsx,doc,docx,ppt,pptx

security.grant-code.secret=CHANGE_ME
security.report-code.secret=CHANGE_ME
